body {
    font-family: Arial, sans-serif;
    line-height: 1.3;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 15px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0px;
    margin-bottom: 1px;
}
.role-date {
    display: flex;
}

.Education-Skills {
    display: flex;
}

.header-left {
    flex: 1;
    margin: 0 0 3px 0;

}

.header-right {
    flex: 0.7;
    margin: 0 3px 0;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    color: #333;
}

header p {
    margin: 5px 0;
    font-size: 1.2em;
    color: #333;
}

.contact-info p {
    margin: 5px 0;
}

.contact-info a {
    color: #3498db;
    text-decoration: none;
}


section h2 {
    font-size: 1.8em;
    color: #333;
    border-bottom: 2px solid #3498db;
    padding-bottom: 5px;
}

.timeline {
    position: relative;
    padding-left: 20px;
}

.timeline::before {
    content: '';
    position: absolute;
    left: 15px;
    top: 0;
    bottom: 0;
    width: 2px;
    background: #45a1ff;
}

.timeline-item {
    position: relative;
    margin-bottom: 20px;
    padding-left: 40px;
}

.timeline-item::before {
    content: '';
    position: absolute;
    left: 3px;
    top: 5px;
    width: 10px;
    height: 10px;
    background: #45a1ff;
    border-radius: 50%;
}

.timeline-content {
    background: #fff;
    padding: 0px;
}

.timeline-content h3 {
    margin: 0 0 5px 0;
}

.timeline-content p {
    margin: 0 0 5px 0;
}

.timeline-content ul {
    margin: 0;
    padding: 0;

}

.timeline-content ul li {
    margin-bottom: 5px;
}

footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #45a1ff;
    color: #fff;
}

